///
/// Telemetry by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Icons */

	ul.icons {
		cursor: default;
		list-style: none;
		margin-left: -1em;
		margin-top: -1em;
		padding-left: 0;

		li {
			display: inline-block;
			padding: 1em 0 0 1em;

			&:last-child {
				padding-right: 0;
			}

			.icon {
				&:before {
					font-size: 1.25em;
				}
			}
		}
	}